<footer>
    <!-- Footer Links Box -->
    <div class="footer-links">
        <!-- Tools Category -->
        <div class="footer-category">
            <p class="footer-category-name">Tools</p>
            <p class="footer-category-link">HELIX</p>
            <p class="footer-category-link">PULSE</p>
        </div>
        <!-- Resources Category -->
        <div class="footer-category">
            <p class="footer-category-name">Resources</p>
            <p class="footer-category-link">Documentation</p>
            <p class="footer-category-link">Tutorials</p>
        </div>
        <!-- About Us Category -->
        <div class="footer-category">
            <p class="footer-category-name">About Us</p>
            <a class="footer-category-link" href="https://caslab.engin.umich.edu/" target="_blank">CASLab</a>
            <a class="footer-category-link" href="http://mdolab.engin.umich.edu/" target="_blank">MDOLab</a>
        </div>
    </div>
    <!-- Copyright Mark -->
    <div class="footer-copyright">
        <p>&copy 2022 vesper.aero<p>
    </div>
</footer>