<div class="team_member">
    <div class="member_image">
        <img src= {{ include.image }} alt="Test">
    </div>
    <div class="member_info">
        <p class="member_name"> {{ include.name }} </p>
        <p class="member_affil"> {{ include.affiliation }} </p>
        <p class="member_org"> {{ include.organization}} </p>
        <p class="member_role"> <i>Role:</i> {{ include.role }} </p>
        <p class="member_focus"><i>Focus:</i> {{ include.focus }}</p>
        <p>  </p>
    </div>
</div>